body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
.orange-color{
    color: orange;
}
    
    section{
        display: flex;
    }

    }
    .half-width{
        width: 50%;
        padding-left: 2%;
    }
    .half-width img{
        width: 40%;
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(orange, tomato)
        background-color: orange;
        padding: 5px 20px;
        border-radius: 5px;

    }
}

