body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;

}
.orange-color{
    color: orange;
}
    
    section{
        display: flex;
    }

    }
    .half-width{
        width: 20%;
        padding-left: 5%;
    }
    .half-width img{
        width: 1%;
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(orange, brown);
        padding: 5px 20px;
        color: blue;
        font-weight: 1000;
        border-radius: 5px;

    }
    .top-banner{
        background-image: url(Images/top-banner.png);
        background-repeat: no-repeat;
    }
}

